@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
body{
    background-color:peachpuff;
    margin-left: auto;
    margin-right: auto;
    max-width: 1366px;
    width: 90%;
}

.divEncabezado{
    background-color:peru;
}

.enlace{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.7rem;
    float: right;
    margin-right: 2rem;
    margin-top: 0.5rem;
    text-decoration: none;
    color: rgb(53, 53, 53);
}

.enlace:hover{
    color: #f74545;
    transition: color 400ms ease;
}

.divPresentacion{
    background-color: lightpink;
}

.divPresentacion h1{
    font-family: 'Oswald', sans-serif;
    font-size: 120px;
    margin-bottom: 0.5rem;
}

.divPresentacion p{
    background-color: lightseagreen;
    max-width: 700px;
    margin-top: 0.01rem;
    margin-bottom: 5.5rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(51, 51, 51);
    font-size: 25px;
    line-height: 50px;
}

.boton{
    background-color:#f74545;
    padding: 20px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    font-size: 30px;
    text-decoration: none;
}

a.boton:hover{
    background-color: rgb(31, 31, 31);
    transition: background-color 450ms ease;
}

.imagenesEstudios{
    background-color:beige;
    margin-top: 7rem;
}

.listado{
    background-color:burlywood;
    max-width: 50%;
}

.listado img{
    max-width: 100%;
    width: 530px;
    margin-top: 150px;
}

.listado h1{
    font-family: 'Oswald', sans-serif;
    font-size: 4rem;
}


.imagenesEstudios  .enlace{
    float: none;
    font-size: 1.5rem;
}

.derecho{
    background-color: chocolate;
    margin-left: 52%;
    margin-top: -120%;
    margin-bottom: 15%;
}

.imagenesEstudios .boton{
    margin-left: 25%;
}

.seccionSistemas{
    background-color:darkgoldenrod;
}

.titulo{
    font-family: 'Oswald', sans-serif;
    font-size: 100px;
    margin-bottom: 0.5rem;
}

.seccionSistemas > p{
    max-width: 700px;
    margin-bottom: 1.5rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(51, 51, 51);
    font-size: 25px;
    line-height: 50px;
}

.seccionSistemas > a{
    font-style: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    font-size: 2rem;
    color: black;
}

.scroll{
    background-color: brown;
    margin-top: 50px;
    overflow:auto;
    white-space: nowrap;
}

.scroll > img{
   display: inline-block;
   width: 500px;
   padding: 25px;
}
