@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');

body{
    width: 100%;
    background-image: linear-gradient(#000957, #344CB7, #e9e9e9); 
    background-size: 100px 700px;
    background-attachment: fixed;
}


.infoDesarrollador{
    color: white;
    /*border: 2px solid white;*/
    background-color: rgba(83, 0, 124, 0.425);
    width: 100%;
    text-align: left;
    font-family: 'Teko', sans-serif;
    font-size: 1.7rem;
}

.col-2{
    color:rgb(137, 6, 245);
}

.infoDesarrollador p{
    margin-left: 2%;
}


.etiqueta{
    text-decoration: underline;
    color:rgb(211, 29, 196);
}

.parrafoEspecial{
    margin-top: 75px;
}

#flecha{
    transform-origin: 50% 50%;
    /*transform: rotate(90deg);*/
    fill:#f7f7f7;
    stroke:rgb(117, 44, 201);
    stroke-width: 1px;
    filter:drop-shadow( -1.5px 1.5px 1px rgb(146, 68, 236));

    animation-name: animacion-flecha;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#svg-flecha{
    /*border:1px solid white;*/
    transform: translate(-5px, -5px);
    width: 50px; 
    height: 50px;
}

.icono-github{
    width: 100px;
    height: 100px;
    margin-top: 100px;
    animation-name: animacion-icono-github;
    animation-iteration-count: infinite;
    animation-duration: 3s;
    animation-direction: alternate;
    animation-timing-function: linear;
}


.titulo{
    margin-top: 250px;
    color:rgb(137, 6, 245);
    font-family: 'Teko', sans-serif;
    font-size: 5rem;
    
}


.flex-calculadora{
    background-image: linear-gradient(rgba(238, 130, 238, 0.212), rgba(0, 0, 255, 0.192));
    margin-bottom: 250px;
    display:flex;
    padding-left: 25%;
    padding-right: 25%;
    justify-content: center;
    flex-direction: column;
}

.pantallas{
    background-color: rgba(75, 42, 165, 0.5);
}

.pantallas span{
    background-color: rgb(56, 1, 107);
    border: 5px rgb(56, 1, 107) inset;
    display: flex;
    justify-content: end;
    color:rgb(0, 66, 141);
    font-size: 6rem;
    font-family: monospace;
}

.pantallas p{
    color:green;
    border: rgb(81, 0, 128) 3px outset;
    margin-top: 25px;
    font-size: 2rem;
    font-family: monospace;
    font-weight: bold;
}

.botonera-operaciones{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.boton-operacion{
    background-color: rgb(117, 117, 117);
    color: rgb(255, 255, 255);
    font-family: monospace;
    font-size: 2rem;
    flex-grow: 1;
    border-radius: 10px;
}

.boton-operacion:hover{
    background-color: rgb(144, 59, 241);
    color: rgb(35, 3, 151);
    transition: background-color 0.7s ease;
    transition: color 0.7s ease;
}

#boton-igual{
    background-color:rgb(0, 139, 0);
}

#boton-igual:hover{
    background-color:rgb(10, 196, 25);
}

#boton-del{
    background-color: rgb(175, 0, 0);
    color:white;
}

#boton-del:hover{
    background-color: rgb(255, 0, 0);
}

.botonera-numeros{
    background-color: rgba(13, 4, 143, 0.349);
    border: 3px rgb(15, 0, 80) outset;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.boton{
    background-color: grey;
    font-family: monospace;
    font-size:2rem;
    flex-grow: 1;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 1%;
    border-radius: 10px;
}

.boton:hover{
    background-color: rgb(35, 3, 151);
    color:rgb(144, 59, 241);
    transition: background-color 0.7s ease;
}

.proyectos-anteriores{
    background-color: rgba(83, 0, 124, 0.425);
    height: 1000px;
}

.carousel{
    width: 600px;
    height: 400px;
    margin-top: 50px;
    margin-left: 50%;
}

.carousel-caption h5{
    color: rgb(95, 0, 173);
    background-color: rgba(0, 153, 255, 0.842);
    font-weight: bold;
}

.carousel-caption p{
    color: rgb(95, 0, 173);
    background-color: rgba(0, 153, 255, 0.842);
    font-weight: bold;
}

.enlace{
    color:rgb(197, 0, 204);
    font-family: 'Teko', sans-serif;
    font-size: 2rem;
}


/**********************************MEDIA QUERY'S***********************************/
@media screen and (min-width: 200px) and (max-width: 600px){
    body{
        background-size: 100px 850px;
    }
    
    #pantalla-principal{
        font-size: 1.3rem;
    }
    .carousel{
        margin-left: 0%;
        width: 400px;
    }

    .carousel-caption p{
        font-size: 0.5rem;
    }
}

@media screen and (min-width: 601px) and (max-width: 1024px){
    body{
        background-size: 100px 800px;
    }
    
    #pantalla-principal{
        font-size: 2.3rem;
    }

    .carousel{
        margin-left: 0%;
        width: 400px;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1280px){
    body{
        background-size: 100px 700px;
    }
    
    #pantalla-principal{
        font-size: 5rem;
    }

    .carousel{
        margin-left: 50%;
        width: 500px;
    }

}

/**********************************ANIMACIONES***********************************/
@keyframes animacion-flecha{
    to{
        fill:rgb(211, 29, 196);
        stroke:rgb(218, 218, 218);
        filter:drop-shadow( -1.5px 1.5px 1px rgb(218, 218, 218));
    }
}

@keyframes animacion-icono-github {
    0%{
        filter:drop-shadow(0 0 5px black);
        fill: black;
    }

    50%{
        filter:drop-shadow(0 0 10px rgb(126, 126, 126));
        fill: rgb(126, 126, 126);
    }

    100%{
        filter:drop-shadow(0 0 20px rgb(255, 255, 255));
        fill: white;
    }
}