@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');

body{
    width: 100%;
    background-image: linear-gradient(#000957, #344CB7, #e9e9e9); 
    background-size: 100px 700px;
    background-attachment: fixed;
}


.infoDesarrollador{
    color: white;
    /*border: 2px solid white;*/
    background-color: rgba(83, 0, 124, 0.425);
    text-align: left;
    font-family: 'Teko', sans-serif;
    font-size: 1.7rem;
}

.col-2{
    color:rgb(137, 6, 245);
}

.infoDesarrollador p{
    margin-left: 2%;
}

.etiqueta{
    text-decoration: underline;
    color:rgb(211, 29, 196);
}

.parrafoEspecial{
    margin-top: 75px;
}

#flecha{
    transform-origin: 50% 50%;
    /*transform: rotate(90deg);*/
    fill:#f7f7f7;
    stroke:rgb(117, 44, 201);
    stroke-width: 1px;
    filter:drop-shadow( -1.5px 1.5px 1px rgb(146, 68, 236));

    animation-name: animacion-flecha;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#svg-flecha{
    /*border:1px solid white;*/
    transform: translate(-5px, -5px);
    width: 50px; 
    height: 50px;
}

.titulo{
    margin-top: 250px;
    color:rgb(137, 6, 245);
    font-family: 'Teko', sans-serif;
    font-size: 5rem;
    
}

.flex-calculadora{
    /*background-color: white;*/
    margin-bottom: 250px;
    display:flex;
    padding-left: 25%;
    padding-right: 25%;
    justify-content: center;
    flex-direction: column;
}

.pantallas{
    background-color: brown;
}

.pantallas span{
    background-color: rgb(131, 114, 18);
    display: flex;
    justify-content: end;
    font-size: 6rem;
    font-family: monospace;
}

.pantallas p{
    background-color: rgb(155, 72, 72);
    color:green;
    margin-top: 25px;
    font-size: 2rem;
    font-family: monospace;
    font-weight: bold;
}

.botonera-operaciones{
    background-color: rgb(6, 78, 24);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.boton-operacion{
    background-color: rgb(117, 117, 117);
    color: rgb(255, 255, 255);
    font-family: monospace;
    font-size: 2rem;
    flex-grow: 1;
}

#boton-igual{
    background-color:green;
}

#boton-del{
    background-color: red;
    color:white;
}

.botonera-numeros{
    background-color: rgb(0, 255, 76);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.boton{
    background-color: grey;
    font-family: monospace;
    font-size:2rem;
    flex-grow: 1;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 1%;

}

@keyframes animacion-flecha{
    to{
        fill:rgb(211, 29, 196);
        stroke:rgb(218, 218, 218);
        filter:drop-shadow( -1.5px 1.5px 1px rgb(218, 218, 218));
    }
}

