h1{
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    text-decoration-line: underline;
}

.webInstituto > img{
    width: 40px;
    float:left;
}

.webInstituto > input{
    float: left;
    margin-top: 1%;
    margin-left: 1%;
}

.webInstituto > a{
    margin-left: 25%;
}

.enlace-cuenta{
    float: right;
}


.casillaEncabezado{
    width: 5%;
}

.nivel1{
    width: 100%;
}

.nivel2{
    width: 100%;
}

.nivel3{
    width: 100%;
}

.casillaEncabezado > img{
    width: 90%;
    height: 80px;
    position: relative;
    left: 5%;
    top: 50%;
}

.casillaEncabezado > div{
    position:relative;
    left: 35%;
}